body {
  font-family: 'Open Sans', sans-serif, Times, serif;
  color: #646e7d;
  font-size: 14pt;
  background-color: #fff;
  margin: 0;
}

ul {
  list-style-type:square;
}

h1, h2 {
  font-size: 18pt;
  font-weight: bold;
  color: #3d3e40;
}

b {
  font-weight: bold;
}

.container {
    background-color: #f0f3fa;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 25px;
    margin-bottom: 25px;
}

#nav-container {
  margin-right: auto;
  margin-left: auto;
  text-align:center;
}

#nav-container > nav > a {
  background-color: #74768a;
  color: white;
  font-weight: 600px;
  padding: 14px 25px;
  display: inline-block;
}

#nav-container > nav > a:hover {
  background-color: #adb4f7;
}

img {
  border-radius: 200px;
  background-color: #d8e1f5;
  border: 5px solid #d8e1f5;
  padding: 5px;
  margin-left: 50px;
  width: 20%;
  float: left;
}

.tab {
  text-indent:40px;
}

#details > div {
  float: left;
  margin-left: 50px;
  margin-top: 20px;
}

#details, #summary, #education, #experience, #extra, #technical {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  float: left;
  margin: 15px;
  margin-right: auto;
  margin-left: auto;
  background-color: #f7f7f7;
}

#btn {
  width: 300px; 
  margin: 0 auto;
  margin-bottom: 15px;
  margin-top: 15px;
}

