:root {
  --primary-color: #cfd4db;
  --secondary-color: #536390;
  --font-color: #646e7d;
  --bg-color: rgb(232, 233, 235);
  --heading-color: #345597;
  --avatar-colour: #d8e1f5;
}

[data-theme="dark"] {
  --primary-color: #536390;
  --secondary-color: #cfd4db;
  --font-color: #e1e1ff;
  --bg-color: #161625;
  --heading-color: #818cab;
  --avatar-colour: #1f2941;
}

body {
  font-family: 'Open Sans', sans-serif, Times, serif;
  color:var(--font-color);
  font-size:calc(12px + .3vw);
  background-color: var(--bg-color);
  margin: 0;
}

ul {
  list-style-type:square;
}

h1, h2 {
  font-size:calc(12px + .7vw);
  font-weight: bold;
  color: var(--heading-color);
}

b {
  font-weight: bold;
}

.container {
    background-color: var( --primary-color);
    padding: 20px 30px;
    margin-top: 3%;
    margin-left: 15%;
    width: 85%;
    max-width: 100%-200px;
}

.avatar {
  border-radius: 200px;
  background-color: var(--avatar-colour);
  border: 5px solid var(--avatar-colour);
  padding: 5px;
  display: block;
  margin: auto;
  min-width: 150px !important;
  width: 11vw;
}

.tab {
  text-indent:40px;
}

.Details, .Summary, .Education, .Experience, .Extra, .Technical {
  width: 100%;
  padding: 20px;
  border-radius: 8px;
  float: left;
  margin: 15px;
  margin-right: auto;
  margin-left: auto;
  background-color: var(--bg-color);
}

a {
  text-decoration: none !important;
}

.theme-switch-wrapper {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-right: 10px;
}

.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.sidenav {
  height: 100%; 
  min-width: 200px !important;
  width: 15vw; 
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0;
  background-color: var(var(--bg-color)); 
  overflow-x: hidden; 
  padding-top: 5%;
}

#sidebar > div {
  display:block;
  padding: auto;
  margin:10px;
  text-decoration: none;
  display: block;
  text-align: center;
}

@media (max-width: 768px) {
  .sidenav {
      display: none;
  }
  .container {
    margin-left: auto;
    margin-top: 8%;
    width: 100%;
  }
  }
  @media (min-width: 768px) {
    .Details, #myNavbar > ul:nth-child(1) > li:nth-child(1) {
      display:none;
    }
}