:root {
  --primary-color: #cfd4db;
  --secondary-color: #536390;
  --font-color: #646e7d;
  --bg-color: rgb(232, 233, 235);
  --heading-color: #345597;
  --avatar-colour: #d8e1f5;
}

/* || General */

body {
  font-family: 'Open Sans', sans-serif, Times, serif;
  color:var(--font-color);
  font-size:calc(12px + .3vw);
  background-color: var(--bg-color);
  margin: 0;
}

h1, h2 {
  font-size:calc(12px + .7vw);
  font-weight: bold;
  color: var(--heading-color);
}

ul {
  list-style-type:square;
}

a {
  text-decoration: none !important;
}

b {
  font-weight: bold;
}

.tab {
  text-indent:40px;
}

/* || Container */

.container {
  background-color: var( --primary-color);
  padding: 2% 2% 10%;
  margin-top: 2%;
  margin-left: 15%;
  width: calc(100% - 300px);
  float: right;
}

/* || Avatar */

.avatar {
  border-radius: 200px;
  background-color: var(--avatar-colour);
  border: 5px solid var(--avatar-colour);
  padding: 5px;
  display: block;
  margin: auto;
  min-width: 150px !important;
  width: 11vw;
}

/* || Components */

.Component {
  width: 80%;
  padding: 20px;
  border-radius: 8px;
  margin: 15px auto;
  background-color: var(--bg-color);
}

/* || Sidebar / Details */

.sidenav {
  height: 95%; 
  min-width: 200px !important;
  width: 300px; 
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0;
  background-color: var(var(--bg-color)); 
  overflow-x: hidden; 
  padding: 5% 10px;
  margin-top: 2%;
}

#sidebar > div {
  display:block;
  padding: auto;
  text-align: center;
  font-size: calc(12px + .45vw);
}

#details {
  text-align: center;
}

@media (max-width: 768px) {
  .sidenav {
      display: none;
  }
  .container {
    margin-left: auto;
    margin-top: 8%;
    width: 100%;
  }
  }
  @media (min-width: 768px) {
    #details, #myNavbar > ul:nth-child(1) > li:nth-child(1) {
      display:none;
    }
}

/* || Dark mode */

[data-theme="dark"] {
  --primary-color: #2d354d;
  --secondary-color: #cfd4db;
  --font-color: #e1e1ff;
  --bg-color: #161625;
  --heading-color: #818cab;
  --avatar-colour: #1f2941;
}

/* || Dark mode switch  - https://dev.to/ananyaneogi/create-a-dark-light-mode-switch-with-css-variables-34l8*/

.theme-switch-wrapper {
  display: flex;
  align-items: center;
  margin: 10px;
}

.theme-switch {
  display: inline-block;
  height: 24px;
  position: relative;
  width: 45px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 3px;
  content: "";
  height: 19px;
  left: 3px;
  position: absolute;
  transition: .4s;
  width: 19px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(19px);
}

.slider.round {
  border-radius: 24px;
}

.slider.round:before {
  border-radius: 50%;
}
